html {
	text-align: center;
	width: 100%; height: 100%; min-height: 100%; min-width: 1024px;
}
body {
	background: #052636 url('/images/background.jpg') no-repeat left 215px; color: #fff;

}
	header {
		background-color: #fff;
		width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; border-top: 18px solid #24abe2; border-bottom: 18px solid #000;
	}
	
	.articles {
		width: 550px; margin: 0 400px;
	}
		article {
			background-color: rgba(0,0,0,.5);
			padding: 20px; margin-bottom: 20px;
		}
	
	footer {
		width: 984px; margin: 0 auto; padding: 20px 0;
	}
		.partners {
			background-color: #fff;
			width: 914px; margin: 0 auto 15px; padding: 10px; border: 5px solid #d1d2d4; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		}
		.partners a {
			margin: 30px;
		}
		footer strong {
			color: #fff; text-transform: uppercase;
		}
		
		footer nav {
			color: #fff; text-align: center;
			background-color: #24abe2;
			padding: 15px 35px; margin-top: 50px;
			position: relative;
		}
			footer .logo {
				left: 0; top: -36px; margin-left: 0;
				position: absolute;
			}
				footer .logo:after {
					content: none; 
					margin-right: 0;
				}
			footer nav a {
				color: inherit; text-transform: uppercase; vertical-align: middle;
				margin-left: 5px;
				display: inline-block;
			}
				footer nav a:after {
					content: '\007C'; color: #fff; vertical-align: top;
					margin-left: 7px;
					display: inline-block;
				}
				footer nav a:last-child:after {
					content: none;
					margin-right: 0;
				}
				footer nav a:hover {
					color: #fff;
				}